<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet"
      href="static/css/pintuer.css">
<link rel="stylesheet"
      href="static/css/admin.css">
<body>

<h4 style="color: red;text-align: center" th:text="${errorMsg}"></h4>
<button id="goBack" class="button bg-main icon-check-square-o" style="margin: 0 auto">
    返回上一步
</button>

<script>
    document.getElementById("goBack").addEventListener("click",()=>{
        history.go(-1);
    })
</script>
</body>
</html>